$background-color: #181A1A;
$text-color: #fff;
$button-text-color: rgb(49, 51, 51);
$button-background: #F0D046; // Adjust the color based on the image

body {
    background-color: $background-color;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $text-color;
    font-family: Arial, sans-serif;

    .login-box {
        padding: 2em;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        text-align: center;

        h1 {
            margin-bottom: 1em;
        }

        .logo {
            font-size: 2em; // Or use a logo image
        }

        .login-form {
            width: 400px;

            input, button {
                height: 40px;
                box-sizing: border-box;
                width: 100%;
                padding: 0.5em;
                margin-bottom: 1em;
                border: none;
                border-radius: 4px;
            }

            button {
                background-color: $button-background;
                color: $button-text-color;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: darken($button-background, 10%);
                }
            }

            .forgot-password {
                text-decoration: none;
                display: block;
                margin-bottom: 1em;
                color: #FFC107;
            }

            .or-separator {
                margin-bottom: 1em;
            }
        }

        .google-login {
            background: white;
            color: black;

            &:hover {
                background: darken(white, 10%);
            }
        }

        .signup-link {
            margin-top: 1em;
        }

        .register {
            text-decoration: none;
            color: #FFC107;
        }
    }
}
